* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-kan.kan.acx -text
/apertium-kan.kan.dix -text
/apertium-kan.kan.rlx -text
/apertium-kan.pc.in -text
/apertium-kan.post-kan.dix -text
/autogen.sh -text
/configure.ac -text
corpus/kan.tagged -text
/modes.xml -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
